@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

.error,
.warning,
.info,
.success {
  width: 650px;
  height: 76px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: Kanit;
  color: #444444;
}

.error {
  background-color: #f9c8c8;
}

.warning {
  background-color: #f9d9c8;
}

.info {
  background-color: #f9ebc8;
}

.success {
  background-color: #cef7cd;
}
